@import url('./common.css');

body {
  width: 100vw;
  height: 100vh;

}

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
  margin: 2rem 0;
}

form {
  width: 30vw;

  margin: 10rem auto;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 5px lightgrey;
  padding: 2em 4em;
  box-sizing: border-box;
}

label {
  width: 100%;
  font-weight: 500;
  margin: .8rem 0;
}

form input {
  height: 2rem;
  border: none;
  outline: none;
  padding: 0 0.5rem;

}

input {
  width: 100%;
  padding: .4em .5em;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: .2em;
  margin-top: 1rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--secondary);
}

button {
  padding: 0.5rem 3rem;
  border-radius: 0.2rem;
  font-weight: bold;
  background-color: #587fff;
  color: #FFF;
  margin: 2rem 0;
}

button:hover {
  background-color: #2d5eff;
  transition: background-color .5s ease-in-out;

}

button:active {
  background-color: #003cff;
}

.form-footer {
  margin-top: auto;
  color: grey;
  font-size: 2em;
}