/* Modal da Tarefa */


#modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: RGBA(0,0,0,0.4); 

}

#modal form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f6f6f6;
    margin: 10% auto;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);   
    width: 50%;
    border-radius: .2rem;
    font-family: inherit;
    border-bottom: 3.5px solid var(--secondary);


}

#modal form .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e9e9e9;

}

#modal input, textarea {
    border: none;
    outline: none;
    padding: 0 0.5rem;
}
textarea {
    padding-top: 0.5rem;
}




#modal .modal-header i {
    float: right;
    color: gray;
    cursor: pointer;
    padding: 1rem;

}


#modal form i:hover {
    color: rgb(95, 95, 95);
    border-radius: 50%;
    padding: 1rem;
}

#modal input {
    height: 2rem;

}

input:required:valid , textarea:required:valid  {
    border-color: lightgreen;
  }

#modal textarea {
    resize: none;
    height: 6rem;
    max-width: 100%;
}

#modal form .buttons-modal {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: flex-end;
    width: 100%;
}

#modal form .buttons-modal button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    font-weight: bold;
    
}

#modal form .buttons-modal button[type="reset"] {
    background-color: transparent;
    
}

#modal form .buttons-modal button[type="reset"]:hover {
    background-color: lightgray;
    transition: background-color .5s ease-in-out;
    
}


#modal form .buttons-modal button[type="submit"] {
    background-color: #587fff;
    color: #FFF;
    
    
}

#modal form .buttons-modal button[type="submit"]:hover {
    background-color: #2d5eff;
    transition: background-color .5s ease-in-out;
    
}

#modal form .buttons-modal button[type="submit"]:active {
    background-color: #003cff;
    
}

